html{
  box-sizing: border-box;
}
body
{
  background-color: black;
}

/* ===============================================================
main  container
===============================================================*/

.container{

  background-color: white;
  max-width:100%;
  margin:auto;
}

/* ===============================================================
header
===============================================================*/

header {

  padding:5px 200px 5px 200px;
  background-color: white;
  
  }

  header ul li
{
  list-style:none;
  float:left;
  width: 14.28%;
  height: auto;
  background-color: white;
  line-height:40px;
  text-align:center;
  padding:0px 0px 0px 0px;
} 